<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <title>Tijolo</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  </head>
  <body>
    <h1 style="font-family:Arial">PRODUTOS</h1>
    <h2 style="font-family:Arial">Relação de Produtos - Tijolo</h2>
    <div id="resultados"></div>
  </body>
</html>

<script>
$(document).ready(function(){
  $.get('/produto', (dadosStr) => {
    console.log(dadosStr);
    // var dados = JSON.parse(dadosStr);
    var dados = JSON.parse(JSON.stringify(dadosStr))
    var tabela = $('<table border="1" cellspacing="0" width="60%"/>');
    tabela.append('<tr><th>Categoria</th><th>Nome</th><th>Descrição</th><th>Preço</th><th>Situação</th></tr>');
   
    for (var j = 0; j < dados.length; j++) {
      tabela.append('<tr><td>' + dados[j].categoriaProduto
          + '</td><td>' + dados[j].nomeProduto
          + '</td><td>' + dados[j].descricaoProduto
          + '</td><td>' + dados[j].precoProduto
          + '</td><td>' + dados[j].ativoProduto
          + '</td></tr>');
    }
    $('#resultados').append(tabela);

  });
});

</script>
</html>